 #workSlider{
    width: 100%;
    background: radial-gradient(circle, rgba(255, 244, 244, 0.907) 0%, rgb(245, 224, 215) 90%, rgba(108, 108, 108, 0.9) 100%);
    height: 95vh;
    overflow: hidden;
}

.projectslider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 5% 95%,
        transparent
    );
}
.workingTitle{
    font-size: 55px;
    font-weight: 800;
    color: rgba(38, 0, 48, 0.995);
    margin-top: 15px;
    text-align: center;
}

.projectslider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.projectslider .list .workImg{
    width: var(--width);
    height: var(--height);
    position: absolute;
    margin-top: 10vh;
    left: 100%;
    animation: sliderRun 20s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.projectslider .list .workImg img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
}
@keyframes sliderRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.projectslider:hover .workImg:not(:hover) {
    animation-play-state: paused !important; 
    filter: grayscale(1) blur(2px); /* Keep grayscale for non-hovered images */
}

.projectslider .workImg:hover {
    filter: grayscale(0); /* Remove grayscale from the hovered image */
    animation-play-state: paused !important; 
    
}

@media screen and (max-width: 735px){
    .projectslider .list .workImg{
        width: 300px;
        height: 300px;
    }
    .projectslider .list{
        width: 75%;
    }
    #workSlider{
        height: 95vh;
    }
}